@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.cdnfonts.com/css/source-sans-pro');

*{
    font-family: 'Source Sans Pro', sans-serif;
}

.sologan{
    font-size: 14px;
    font-style: italic;
    font-family: 'Source Sans Pro', sans-serif;
}

.logo{
    font-family: 'Montserrat', sans-serif;
}